
@font-face {
  font-family: 'IndieFlower';
  src: url(polices/IndieFlower.ttf)
}

@font-face {
    font-family: 'FuntypeRegular';
    src: url('polices/Funtype.ttf')
}

@font-face {
    font-family: 'ThatNogoFontCasual'; 
    src: url('polices/ThatNogoFontCasual.ttf')
}





body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    user-select: none;
}

#barre_outils {
    height: 60px;
    background: linear-gradient(to right, #eaeaea, #cccccc); /* Dégradé horizontal gris */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour effet glossy */
    padding: 5px; /* Espace intérieur pour les éléments de la barre d'outils */
    display: flex;
    /* justify-content: space-around; /* Pour répartir les éléments horizontalement */
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    overflow-x: scroll;
}

#barre_outils span {
    margin-left: 30px;
    height: 46px;
    padding: 5px;
    border: 2px black outset;
    border-radius: 5px;
    display: inherit;
    justify-content: center;
}

#barre_outils button, #barre_outils input, #barre_outils select {
    margin-left: 5px;
}

button:first-child {
    margin-left: 0px !important;
}

#barre_outils span:first-child {
    margin-left: 0.75%;
    min-width: calc(13.5% - 17px);
}

#galerie {
    height: calc(100% - 70px);
    width: 15%;
    margin: 0;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    overflow-y: hidden;
}

#galerie_images {
    height: 100%;
    overflow-y: scroll;
}


#bd {
    height: calc(100% - 70px);
    width: calc(85% - 10px);
    margin: 0;
    padding: 5px;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: visible !important;
    vertical-align: top;
    position: relative;
    user-select: none;
}

.vignette {
    display: inline-block;
    position: relative;
    height: calc(100% - 16px);
    border: 3px solid rgb(0, 0, 0);
    background-color: #fff;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    margin-bottom: 10px; 
}

.vignette::before {
    content: '';
    position: absolute;
    top: 0;
    left: -13px; /* Largeur de la "bordure" virtuelle */
    height: 100%;
    width: 10px; /* Largeur de la "bordure" virtuelle */
    cursor: ew-resize; /* Changer le curseur pour indiquer un redimensionnement horizontal */
}

.vignette:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: -13px; /* Largeur de la "bordure" virtuelle */
    height: 100%;
    width: 10px; /* Largeur de la "bordure" virtuelle */
    cursor:default;    
}

.bande {
    position: relative;
}

.bande::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px; /* Largeur de la "bordure" virtuelle */
    width: 100%;
    height: 10px; /* Largeur de la "bordure" virtuelle */
    cursor: ns-resize; /* Changer le curseur pour indiquer un redimensionnement horizontal */
}

.bande:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    top: -13px; /* Largeur de la "bordure" virtuelle */
    width: 100%;
    height: 10px; /* Largeur de la "bordure" virtuelle */
    cursor: default;
}

.bande:last-of-type::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% - 5px); /* Largeur de la "bordure" virtuelle */
    width: 100%;
    height: 10px; /* Largeur de la "bordure" virtuelle */
    cursor: ns-resize;
}

.hidden::before {
    cursor: default;
}

.bouton_plus {
    margin: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
}

#bouton_moins {display: none;}

.apercu {
    max-width: 90%;
    max-height: 50%;
    margin-bottom: 10px;
    cursor: grab;
}

#galeries {
    margin-bottom: 5px;
}

.objet {
    position: absolute;
    overflow: hidden;
    padding: 10px;
}

.objet img {
    /*
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  
    width: 100%;
    height: 100%;

    */
    user-select: none;
    position: relative;
    top: 0px;
    left: 0px;
}

.bulle_editable {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50px;
}

.conteneur_bulle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.bulle_editable p {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    text-align: center;   
    word-break:break-word;
    margin: 0;
    min-width: 1em;
}


#choix {
    padding : 10px;
}

#choix select {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.bouton_outil {
    position: relative;
    height: 46px;
    width: 46px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    border-width: 2px;
    vertical-align: middle;
}

.bouton_outil:disabled::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255,0.7);
}

#bouton_nouveau {
    background-image: url(images/boutons/nouveau.svg);
}
#bouton_ouvrir {
    background-image: url(images/boutons/ouvrir.svg);
}
#bouton_enregistrer{
    background-image: url(images/boutons/enregistrer.svg);

}
#bouton_supprimer {
    background-image: url(images/boutons/supprimer.svg);
}

#bouton_a_propos {
    background-image: url(images/boutons/question.svg);
}

#bouton_dupliquer {
    background-image: url(images/boutons/dupliquer.svg);
}

#bouton_miroir {
    background-image: url(images/boutons/miroir.svg);
}

#bouton_back {
    background-image: url(images/boutons/back.svg);
}

#bouton_front {
    background-image: url(images/boutons/front.svg);
}

#bouton_imprimer {
    background-image: url(images/boutons/imprimer.svg);
}

#police_moins {
    background-image: url(images/boutons/police_moins.svg);
}

#police_plus {
    background-image: url(images/boutons/police_plus.svg);
}

#bouton_annuler {
    background-image: url(images/boutons/annuler.svg);
}

#bouton_refaire {
    background-image: url(images/boutons/refaire.svg);
}

#bouton_cadenas {
    background-image: url(images/boutons/cadenas.svg);
    background-size: auto 84px;
    background-position: center 100%;
}

#bouton_titre {
    background-image: url(images/boutons/titre.svg);
}




@media print {

    #barre_outils,#galerie,#bouton_plus,#bouton_moins {
        display: none;
    }

    #bd {
        overflow-x:visible;
        overflow-y:visible;
    }

    .bande {
        width:  80%;
    }

    .vignette {max-width: 30%; max-height: 20%;}

}

.draggable {
    cursor:grab;
}

.dragged {
    cursor:grabbing;
}


.handle {
    width: 10px;
    height: 10px;
    background-color: #a6ffc1;
    border: 1px solid #578a66;
    position: absolute;
    z-index: 100000;
    border-radius: 50%;

  }

.bubble .handle {
    display: none;
  }

  .fleche {
    display: none;
    bottom: -40px;
    left: 35px;
    cursor:crosshair;
    transform: translateX(-50%) translateY(50%);
  }

  .coin, .fleche {
    background-color: #ffff06;
    border: 1px solid #df4a00;
  }

  .top-left { top: 0px; left: 0px; cursor: nwse-resize; z-index: 200000; border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;}
  .top-right { top: 0px; right: 0px; cursor: nesw-resize; z-index: 200000; border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%; }
  .bottom-left { bottom: 0px; left: 0px; cursor: nesw-resize; z-index: 200000; border-radius: 0% 0% 0% 100% / 0% 0% 0% 100%;}
  .bottom-right { bottom: 0px; right: 0px; cursor: nwse-resize; z-index: 200000; border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;}


  .top { top: 0px; left: 50%; transform: translateX(-50%); cursor: ns-resize; width: 30px; height:10px; border-radius: 0%;}
  .bottom { bottom: 0px; left: 50%; transform: translateX(-50%); cursor: ns-resize; width: 30px; height:10px; border-radius: 0%; }
  .left { top: 50%; left: 0px; transform: translateY(-50%); cursor: ew-resize; height: 30px; width:10px; border-radius: 0%;}
  .right { top: 50%; right: 0px; transform: translateY(-50%); cursor: ew-resize; height: 30px; width:10px; border-radius: 0%;}




  .bubble .left {
    left: -12px;
  } 

  .bubble .right {
    right: -10px;
  }
  
  .bubble.inverse .left {right: -10px !important; left: 100% !important;}
  .bubble.inverse .right {left: -10px !important; right: 100% !important;}

  .bubble .left, .bubble .right, .bubble .fleche {
    display: block;
  }



  #police_choix {
    height: 46px;
    width: 160px;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'IndieFlower';
    color: rgb(55, 55, 181);
  }

  #police_taille {
    font-size: 24px;
    width: 2.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    height: 44px;
    border: 2px solid grey;
    padding: 1px;
    border-radius: 7px;
    color: rgb(55, 55, 181);
  }

.zone_outil {
    display: none;
    z-index: 100000;
}

.vignette_selectionnee .zone_bas {display: block;}

.vignette_selectionnee.background .zone_haut {display: block;}


.outils_vignette {    
    background-color: rgba(255, 255, 255,0.7);
    display: inline-block;
    border: 1px black solid;
    z-index: 100000;
    cursor: auto;
    padding: 5px;  
}


.haut {
    border-radius: 0px 0px 15px 15px;
}

.bas {
    border-radius: 15px 15px 0px 0px;
}


.outils_vignette button {
    height: 40px;
    width: 40px;
    margin: 3px;
    background-size: contain;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

.barre {
    background-size: 45px ;
    background-repeat: no-repeat;
    background-position: left;
}


#titre {
    font-size: 28px;
    font-family: 'IndieFlower';
    font-weight: bold;
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #a6ffc1;
}

.fond, .fond img {
    border-radius: 20%;
}


.bubble {
    position: absolute;
    background: #ffffff;
    color: #000000;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    width: 140px;
    border-radius: 35px / 50%;
    padding: 10px;
    border: #000000 solid 3px;
}

.bubble span, .bubble p {
    margin: 0;
}

.bubble p {
    text-align: center;   
    word-break:break-word;
}

.pointe {
    width: 35px;
    height: 35px;
    background-image: url(images/autres/pointe.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 35px;
    transform: scaleY(1);
    transform-origin: top left;    
}

.image_pointe {
    width: 35px;
    height: 100%;
}

#titre_bd {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

#texte_a_propos {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    user-select: text;
    font-family: FuntypeRegular;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000000;
    background-color: #fff;
}

#dark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.8);
}

.bouton_quitter {
    float: right;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-image: url(images/boutons/quitter.svg);
    border-radius: 50%;
}